@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital,wght@0,500;1,400&family=Poppins&family=Sono:wght@300&family=Source+Sans+Pro:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}


body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;

}
.main {
  height: 100%;
}
nav {
  width: 100%;
  height: 4rem;
  background: #2d7ded;
  position: fixed;
  z-index: 1;
}

.logo img {
  height: 4rem;
}
nav ul {
  float: right;
  list-style: none;
  position: relative;
  top: -4.5rem;
}
nav ul li {
  display: inline-block;
  line-height: 70px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 1rem;
  line-height: 30px;
}
h3 {
  margin: 0 0 0 0.5rem;
  color: #ffffff;
}
nav ul li a.active,
a:hover {
  color: #9580da;
}
.container1 {
  display: flex;
  align-items: center;
}
#checkbtn {
  float: right;
  line-height: 80px;
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
  display: none;
}
#check {
  display: none;
}
#check:checked ~ ul {
  left: 0;
}
/* landing */
.content {
  margin: 9rem 0 0 5rem;
}
h1 {
  /* margin: 9rem 0 0 2rem; */
  font-size: 3rem;
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: 'Sono', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
}
p {
  padding: 1rem 0 0 0;
  font-family: "Poppins", sans-serif;
}
form input {
  padding: 1rem;
  margin: 0 0 1rem 0;
  border: 1px solid black;
  width: 18rem;
  border-radius: 0.5rem;
}
textarea {
  width: 90%;
}
button {
  padding: 1rem;
  margin: 1rem 0 0 0;
  background: #2d7ded;
  color: white;
  border: 1px solid black;
  width: 56%;
  border-radius: 0.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
button:hover {
  background-color: #6faaff;
}
span {
  color: green;
  font-weight: bold;
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.image {
  margin: 10rem 2rem 0 0;
}

/* about */
#about {
  margin: 6rem 0 0 0;
}
.card-content {
  display: flex;
  justify-content: space-around;
  font-family: "Sono", sans-serif;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  padding: 1rem 0;
  margin: 2rem 0;
  border: 2px solid rgb(230, 219, 219);
  border-radius: 1rem;
  width: 5rem;
  height: 15rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.card:hover {
  transform: scale(1.02);
}
.card img {
  height: 8rem;
  width: 90%;
}
.card-text {
  padding: 3rem 0 0 0;
}
h4.about-para {
  margin: 1rem 2rem;
  font-size: 1rem;
}
.container {
  text-align: center;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: "Lobster", cursive;
  font-size: 2rem;
}

/* SERVICE */
.card2 {
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 2rem;
  width: 25%;
}

.card2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-para {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2px;
}

.service-para {
  width: 50%;
  text-align: center;
  margin: 0;
  padding: 0 0 1rem 0;
}
p.service-text {
  text-align: center;
  padding: 0 0 1rem 0;
}

#contact-box {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  text-align: start;
}

.contact {
  display: flex;
}
input#name {
  height: 5rem;
  margin: 0 0 3rem 0;
}
.contact-text1 {
  display: flex;
  justify-content: space-around;
}
.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 2rem;
}
#contact {
  margin: 0 0 2rem 0;
}
.contact-area {
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 2rem 0 2rem 2rem;
  /* width: max-content; */
}
.sub {
  padding: 1rem;
  margin: 1rem 0 0 0;
  background: #2d7ded;
  color: white;
  border: 2px solid #fff;
  width: 22rem;
  border-radius: 0.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}
.sub:hover {
  background-color: #6faaff;
}
/* FOOTER */

a {
  text-decoration: none;
}

footer {
  color: #333;
  background-color: #e6f0ff;

  bottom: 0;
}

.row {
  display: flex;
  padding: 1rem;
}

.column {
  width: calc(100% / 3);
  padding: 0 0.9375rem;
}

h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: lighter;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 0.6rem;
}

ul li a {
  color: #333;
  font-size: 1rem;
}

ul li i {
  color: #6faaff;
}

ul li a:hover {
  color: #6faaff;
}

ul.social-icons {
  display: flex;
  column-gap: 0.625rem;
}

.social-icons i {
  color: white;
}

ul.social-icons li {
  margin-bottom: 0rem;
}

ul.social-icons li a {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: #6faaff;
}

ul.social-icons li:hover a {
  background-color: #6fdeff;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #6faaff;
  padding: 0.6rem 0;
}

/* Responsive adjustments */

@media screen and (max-width: 768px) {
  .column {
    margin: 0.4rem 0;
    width: 100%;
    padding: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  ul li a {
    font-size: 1rem;
  }

  ul.social-icons li a {
    width: 1.8rem;
    height: 1.8rem;
  }
  #contact-box {
    width: 80%;
  }
  .contact-area {
    width: 70%;
  }
  form input {
    width: 70%;
  }
  textarea {
    width: 90%;
  }
  button.sub {
    width: 72%;
  }
  .image {
    margin: 5rem 0 0 0;
  }
  .content {
    margin: auto;
    padding: 7rem 0rem 0 3rem;
  }
  button {
    width: 90%;
  }
  .home {
    display: flex;
    justify-content: space-around;
  }
  #contact-box {
    width: 100%;
  }
}

@media (max-width: 895px) {
  label .logo {
    font-size: 20px;
  }
  #checkbtn {
    display: block;
  }
  nav ul {
    width: 100%;
    height: 100vh;
    background: #363cb4;
    position: fixed;
    top: 64px;
    left: -100%;
    transition: 0.5s;
  }
  nav ul li {
    display: block;
    text-align: center;
    /* line-height: 50px;
        margin: 20px; */
  }
  form input {
    width: 80%;
  }
  button.sub {
    width: 92%;
  }
  form.contact-area {
    margin: auto;
    width: 100%;
  }
}
@media (max-width: 805px) {
  h1 {
    font-size: 2rem;
  }
}
@media (max-width: 645px) {
  nav {
    position: fixed;
  }
  h1 {
    font-size: 2rem;
  }
  .home {
    display: block;
  }
  .image {
    margin: 0;
    text-align: center;
  }
  .content {
    margin: 0;
    padding: 7rem 4rem 0 7rem;
  }
  p {
    margin: 0 0 1rem 0;
  }
  .about-para {
    margin: 1rem 0 0 1rem;
    font-size: 0.8rem;
  }
  .contact-text {
    font-size: 1rem;
    margin: 0;
  }

  form input {
    width: 70%;
  }
  textarea {
    width: 85%;
  }
  button.sub {
    width: 82%;
  }
  #contact-box {
    margin: auto;
    width: 100%;
  }
}
@media (max-width: 585px) {
  img {
    height: 6rem;
    margin: 2rem 0 0 0;
  }
  h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  .content {
    margin: 0;
    padding: 7rem 2rem 0 3rem;
  }

  button {
    width: 90%;
  }
  form input {
    width: 81%;
  }
  textarea {
    width: 90%;
  }

  .logo img {
    height: 4rem;
    margin: 0;
  }
  h3 {
    color: white;
    font-size: 1.5rem;
  }
  .contact-text1 {
    display: block;
    margin: auto;
  }

  .contact-text {
    margin: 1rem 0 0 0;
    text-align: center;
  }
  .contact-area {
    width: 70%;
    margin: 1rem 0 0 2rem;
  }
  #contact-box {
    width: 100%;
  }
  button.sub {
    width: 90%;
  }
  .card2 {
    width: 80%;
    /* height: 1; */
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
  }
  .card2 img {
    height: 90%;
  }

  p {
    font-size: 0.8rem;
    align-items: center;
    width: 100%;
  }
  .service-para {
    width: 100%;
    font-size: 0.6rem;
  }
}


